@font-face {
  font-family: "Iosevka Custom";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-custom/woff2/iosevka-custom-regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Custom";
  font-weight: 400;
  font-style: oblique;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-custom/woff2/iosevka-custom-oblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Oblique";
  font-weight: 400;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-custom/woff2/iosevka-custom-oblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Custom";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-custom/woff2/iosevka-custom-italic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Custom";
  font-weight: 450;
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-custom/woff2/iosevka-custom-book.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Custom";
  font-weight: 450;
  font-style: oblique;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-custom/woff2/iosevka-custom-bookoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Oblique";
  font-weight: 450;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-custom/woff2/iosevka-custom-bookoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Custom";
  font-weight: 450;
  font-style: italic;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-custom/woff2/iosevka-custom-bookitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Custom";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-custom/woff2/iosevka-custom-bold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Custom";
  font-weight: 700;
  font-style: oblique;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-custom/woff2/iosevka-custom-boldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Oblique";
  font-weight: 700;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-custom/woff2/iosevka-custom-boldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Custom";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-custom/woff2/iosevka-custom-bolditalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Quasi Custom";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-quasi-custom/woff2/iosevka-quasi-custom-regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Quasi Custom";
  font-weight: 400;
  font-style: oblique;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-quasi-custom/woff2/iosevka-quasi-custom-oblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Quasi Custom Oblique";
  font-weight: 400;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-quasi-custom/woff2/iosevka-quasi-custom-oblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Quasi Custom";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-quasi-custom/woff2/iosevka-quasi-custom-italic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Quasi Custom";
  font-weight: 450;
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-quasi-custom/woff2/iosevka-quasi-custom-book.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Quasi Custom";
  font-weight: 450;
  font-style: oblique;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-quasi-custom/woff2/iosevka-quasi-custom-bookoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Quasi Custom Oblique";
  font-weight: 450;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-quasi-custom/woff2/iosevka-quasi-custom-bookoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Quasi Custom";
  font-weight: 450;
  font-style: italic;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-quasi-custom/woff2/iosevka-quasi-custom-bookitalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Quasi Custom";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-quasi-custom/woff2/iosevka-quasi-custom-bold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Quasi Custom";
  font-weight: 700;
  font-style: oblique;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-quasi-custom/woff2/iosevka-quasi-custom-boldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Quasi Custom Oblique";
  font-weight: 700;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-quasi-custom/woff2/iosevka-quasi-custom-boldoblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Quasi Custom";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  font-stretch: normal;
  src: url("/fonts/iosevka-quasi-custom/woff2/iosevka-quasi-custom-bolditalic.woff2")
    format("woff2");
}
