@use "sass:map";

@use "@material/web/tokens";
@use "@material/web/typography/typeface";
@use "@material/web/typography/typescale";

:root {
  @include typeface.theme(
    (
      "brand":
        '"Maple Mono", "Maple Mono CN", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"',
      "plain":
        '"Roboto Flex", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"',
    )
  );

  $shapes: tokens.md-sys-shape-values();
  $corner-small: map.get($shapes, "corner-small");
  $corner-medium: map.get($shapes, "corner-medium");

  --md-icon-font: "Material Symbols Rounded";
  --md-nav-drawer-item-container-shape: #{$corner-medium};
  --md-switch-track-shape: #{$corner-medium};
  --md-switch-handle-shape: #{$corner-small};
  --md-outlined-text-field-container-shape: #{$corner-medium};
  --md-text-button-container-shape: #{$corner-medium};
  --md-filled-button-container-shape: #{$corner-medium};
  --md-filled-tonal-button-container-shape: #{$corner-medium};
  --md-outlined-button-container-shape: #{$corner-medium};
  --md-outlined-select-text-field-container-shape: #{$corner-medium};
  --md-linear-progress-track-height: 0.5rem;
  --md-linear-progress-active-indicator-height: 0.5rem;
  --md-linear-progress-track-shape: 0.125rem;
}
