name = "notes"

compatibility_date = "2025-12-25"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[[d1_databases]]
binding = "DB"
database_id = "c1bf201a-d77d-40f1-8e49-50d1c4de8795"

[[r2_buckets]]
binding = "BLOB"
bucket_name = "mnemo"

[[kv_namespaces]]
binding = "KV"
id = "b76ffa2cabdb464bbc37f16dbda3d7c4"

[[kv_namespaces]]
binding = "CACHE"
id = "c2d874e3cb8b4f879e86628fbdc3a9e3"

# [[durable_objects.bindings]]
# class_name = "$DurableObject"
# name = "$DurableObject"

# [[migrations]]
# new_sqlite_classes = ["$DurableObject"]
# tag = "v2"
