@font-face {
  font-family: "Maple Mono";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src:
    url("/fonts/maple/woff2/MapleMono-Regular.woff2") format("woff2"),
    url("/fonts/maple/ttf/MapleMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Maple Mono";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src:
    url("/fonts/maple/woff2/MapleMono-Italic.woff2") format("woff2"),
    url("/fonts/maple/ttf/MapleMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Maple Mono";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src:
    url("/fonts/maple/woff2/MapleMono-Bold.woff2") format("woff2"),
    url("/fonts/maple/ttf/MapleMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Maple Mono";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src:
    url("/fonts/maple/woff2/MapleMono-BoldItalic.woff2") format("woff2"),
    url("/fonts/maple/ttf/MapleMono-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Maple Mono CN";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/maple/cn/MapleMono-CN-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Maple Mono CN";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/maple/cn/MapleMono-CN-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Maple Mono CN";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/maple/cn/MapleMono-CN-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Maple Mono CN";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/maple/cn/MapleMono-CN-BoldItalic.ttf") format("truetype");
}
