name: Optimize WebAssembly

on:
  push:
    branches:
      - dev
    paths:
      - "platform/wasm/**"
  workflow_dispatch:

jobs:
  optimize_wasm:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up SSH signing key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_SIGNING_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          git config --global gpg.format ssh
          git config --global user.signingKey ~/.ssh/id_ed25519
          git config --global user.name "Lemuel DLS"
          git config --global user.email "26912197+lemueldls@users.noreply.github.com"

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Build WebAssembly
        run: wasm-pack build -t web platform/wasm --release --features wasm-simd

      - name: Commit and push
        run: |
          git add -A
          git commit -S -m "perf: optimize wasm" || echo "No changes to commit"
          git push
