name: Deploy to NuxtHub (Pages)
on: push

jobs:
  deploy:
    name: "Deploy to NuxtHub (Pages)"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Deploy to NuxtHub
        uses: nuxt-hub/action@v2
        with:
          project-key: mnemo-dbva
