name: Publish release artifacts

on:
  release:
    types:
      - published

jobs:
  android:
    permissions:
      id-token: write
      attestations: write
      contents: write
      actions: read
    uses: ./.github/workflows/android.yml
    secrets: inherit
    with:
      tagName: ${{ github.event.release.tag_name }}

  desktop:
    permissions:
      id-token: write
      attestations: write
      contents: write
      actions: read
    uses: ./.github/workflows/desktop.yml
    secrets: inherit
    with:
      tagName: ${{ github.event.release.tag_name }}

  void:
    permissions:
      id-token: write
      attestations: write
      contents: write
      actions: read
    uses: ./.github/workflows/void.yml
    secrets: inherit
    with:
      tagName: ${{ github.event.release.tag_name }}
