name: Deploy to NuxtHub (Workers)
on: push

jobs:
  deploy:
    name: "Deploy to NuxtHub (Workers)"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Deploy to NuxtHub
        uses: nuxt-hub/action@v2
        with:
          project-key: notes-i4gj
